@font-face {
    font-family: 'SolidSans';
    src: url('../resources/SolidSans.ttf');
}

header {
	display: flex;
	justify-content: center;
	background-image: url(../images/track-background-waves.png);
	background-position: contain;
	background-repeat: repeat-x;
	background-size: auto 600px;
	height: 180px;
}

body {
	
}

h1 {
	font-family: "SolidSans", SolidSans;
	font-size: 80px;
	font-weight: 400;
	background: linear-gradient(to right, #8FE0EE, #B591DB);
  	
}

h3 {
	font-family: "SolidSans", SolidSans;
	font-size: 40px;
	font-weight: 400;
	color: white;
}

canvas {
	width: 1000px;
	height: 1000px;
}

.container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	background-image: linear-gradient(to top left, #ABE4EE, #C3ACDB)
}

