@font-face {
    font-family: 'SolidSans';
    src: url('../resources/SolidSans.ttf');
}

header {
	display: flex;
	justify-content: center;
	align-items: flex-start;

	height: 150px;
}

body {
	padding: 0;
	margin: 0;
	background-image: linear-gradient(to top left, #ABE4EE, #C3ACDB)
}

h1 {
	font-family: "SolidSans", SolidSans;
	font-size: 80px;
	font-weight: 400;
	
  	
}

h3 {
	font-family: "SolidSans", SolidSans;
	font-size: 40px;
	font-weight: 400;
	color: white;
}

ul li {
	list-style-type: none;
	font-family: "SolidSans", SolidSans;
	font-size: 25px;
	line-height: 50px;
}

ul {
	padding-left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

p {
	font-family: "SolidSans", SolidSans;
	font-size: 45px;
	line-height: 50px;
}

canvas {
	width: 1000px;
	height: 1000px;
}

.container {
	display: flex;
	justify-content: center;
	align-items: space-evenly;
	flex-direction: column;
	text-align: center;
}

.side {
	padding-top: 120px;
	width: 450px;
}

.main {
	display: flex;
	justify-content: space-around;
}

h3, p {
	display: inline-block;
}

button {
	background-color: white;
	border: 3px solid #C1E8EE;
	padding: 4px 15px;
	margin-bottom: 5px;
	font-size: 20px;
	display: inline-block;
}

.hidden {
	opacity: 0;
}

.modifier {
	line-height: 0;
	padding: 0;
}